# Игнорировать виртуальное окружение
venv/
env/
.venv/
.env/

# Игнорировать файлы Python
__pycache__/
*.py[cod]

# Игнорировать файлы среды разработки
.idea/
.vscode/

# Игнорировать Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Игнорировать файлы, создаваемые системой
.DS_Store
Thumbs.db

# Игнорировать файлы, связанные с тестами
*.log
*.tox/
*.coverage
*.hypothesis/

# Игнорировать временные файлы
*.swp

*.cfg